# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target
out/
/bin
/build/classes/
/build/dist/
production/

*.ipr
*.class
*.xml
*.html
*.txt
*.png
*.gif
